<nav class="sidebar">
  <div class="sidebar__logo">
    <h2>MesaYa</h2>
    <p>GESTIÓN DE RESTAURANTE</p>
  </div>
  
  <ul class="sidebar__menu">
    <li routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Dashboard</li>
    <li routerLink="/productos" routerLinkActive="active">Productos</li>
    <li routerLink="/mesas" routerLinkActive="active">Mesas</li>
    <li routerLink="/clientes" routerLinkActive="active">Clientes</li>
    <li routerLink="/pedidos" routerLinkActive="active">Pedidos</li>
  </ul>

  <div class="sidebar__footer">
    <p>Juan Rodriguez</p>
    <span>Administrador</span>
  </div>
</nav>