body {
    font-family: Orbion, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #9cf3a3;
}

.container {
    background: rgb(24, 179, 55);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 500px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 3px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0e5307;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #6bee97;
}

.resultado {
    margin-top: 15px;
    font-weight: bold;
    color: #333;
}